
    .bgg{
        background-color: #143A79;
    }
    .nav-link{
        color: black;
        font-family: "Wix Madefor Text", sans-serif;
        
    }
    .nav-link>fa-solid{
        color: black;
    }
    .kmk{
      font-family: "Wix Madefor Text", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 46px;
      color: #143A79;

    }
    .nav-link:hover{
        border: 1px solid #143A79;
        border-radius: 15px;
        background-color: #143A79;
        color: white !important;;
    }
    .btn-primary{
        background-color: #143A79;
    }
    .companies{
        background-color: #ffffff;
        
        
        font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  border: 1px solid black;
    }
    .map-container {
      overflow:hidden;
      position:relative;
      width: 100%;
      padding-top: 56.25%; 
    }
    
    .map-container iframe {
      border:0;
      height: 100%;
      left:0;
      position:absolute;
      top:0;
      width: 100%;
    }
    .display-5{
        color: #2f343c;
        
        font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.8rem  ;

    }

    .lko{
        height: 210px;
    }
    .call{
        text-decoration: none;
        color: white;
    }
    .lo{
        color: #143a79;
        font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
    }
    .bmk{
        background-color: #ffffff;
    }
    #preloader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #143a79; /* Set your desired color */
      z-index: 9999;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .loader {
      text-align: center;
    }
    
    .loader img {
      width: 50px; /* Adjust the width of the icon as needed */
    }
    
    .loader p {
      margin-top: 10px;
      font-size: 16px;
      color: white; /* Set text color to contrast with the background */
    }
    
    .drop:hover{
      filter: drop-shadow(30px 10px 4px  #143a79);
      transition: 0.5s;
    }
    .banner{
        mix-blend-mode: multiply;
    }
    .display-4{
        font-family: "Wix Madefor Text", sans-serif;
        font-optical-sizing: auto;
    }
    .tailored::before {
        content: "Sherwani";
        animation: animate infinite 3s;
        color: #143A79;
        font-family: "Niconne", cursive;
        font-weight: 400;
        font-style: normal;
   
          
    
      }
      .kla{
       font-family: sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 46px;
      color: #143A79;

      }
     .hr{
        width: 270px;
        margin-left: 170px;
        border-top: 2px solid #143A79;
      }  
    
      @keyframes animate {
        0% {
          content: " Kurtas";
        }
    
        50% {
          content: " Suits";
        }
    
        75% {
          content: " Coats";
        }
      }

      ul {
        margin: 0px;
        padding: 0px;
    }
    .kkl{
      font-family: "Wix Madefor Text", sans-serif;
        font-optical-sizing: auto;
        color: #143A79;
    }
    .footer-section {
      background: #ffffff;
      position: relative;
    }
    .footer-cta {
      border-bottom: 1px solid #373636;
    }
    .single-cta i {
      color: #143A79;
      font-size: 30px;
      float: left;
      margin-top: 8px;
    }
    .cta-text {
      padding-left: 15px;
      display: inline-block;
    }
    .cta-text h4 {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 2px;
    }
    .cta-text span {
      color: #757575;
      font-size: 15px;
    }
    .footer-content {
      position: relative;
      z-index: 2;
    }
    .footer-pattern img {
      position: absolute;
      top: 0;
      left: 0;
      height: 330px;
      background-size: cover;
      background-position: 100% 100%;
    }
    .footer-logo {
      margin-bottom: 30px;
    }
    .footer-logo img {
        max-width: 200px;
    }
    .footer-text p {
      margin-bottom: 14px;
      font-size: 14px;
          color: #7e7e7e;
      line-height: 28px;
    }
    .footer-social-icon span {
      color: #fff;
      display: block;
      font-size: 20px;
      font-weight: 700;
      font-family: 'Poppins', sans-serif;
      margin-bottom: 20px;
    }
    .footer-social-icon a {
      color: #fff;
      font-size: 16px;
      margin-right: 15px;
    }
    .footer-social-icon i {
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 38px;
      border-radius: 50%;
    }
    .facebook-bg{
      background: #3B5998;
    }
    .twitter-bg{
      background: #55ACEE;
    }
    .google-bg{
      background: #DD4B39;
    }
    .footer-widget-heading h3 {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 40px;
      position: relative;
    }
    .footer-widget-heading h3::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -15px;
      height: 2px;
      width: 50px;
      background: #ff5e14;
    }
    .footer-widget ul li {
      display: inline-block;
      float: left;
      width: 50%;
      margin-bottom: 12px;
    }
    .footer-widget ul li a:hover{
      color: #143A79;
    }
    .footer-widget ul li a {
      color: #878787;
      text-transform: capitalize;
    }
    .subscribe-form {
      position: relative;
      overflow: hidden;
    }
    .subscribe-form input {
      width: 100%;
      padding: 14px 28px;
      background: #2E2E2E;
      border: 1px solid #2E2E2E;
      color: #fff;
    }
    .subscribe-form button {
        position: absolute;
        right: 0;
        background: #142fff;
        padding: 13px 20px;
        border: 1px solid #1826ec;
        top: 0;
    }
    .subscribe-form button i {
      color: #fff;
      font-size: 22px;
      transform: rotate(-6deg);
    }
    .copyright-area{
      background: #202020;
      padding: 25px 0;
    }
    .copyright-text p {
      margin: 0;
      font-size: 14px;
      color: #878787;
    }
    .copyright-text p a{
      color: #468dff;
    }
    .footer-menu li {
      display: inline-block;
      margin-left: 20px;
    }
    .footer-menu li:hover a{
      color: #1457ff;
    }
    .footer-menu li a {
      font-size: 14px;
      color: #878787;
    }